input, select{
    height: 40px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    width: 100%;
}

.primary-contained-btn{
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.primary-contained-btn:hover{
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary) !important;
    padding: 10px;
    border-radius: 2px;
}

.primary-outlined-btn{
    color: white;
    background-color: var(--primary);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    border: 2px solid var(--primary);
    cursor: pointer;
}
.button-ligh-blue{
    background-color: #3A97ED;
    color: white;
    border-radius: 20px;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
}
.primary-outlined-btn:hover{
    background-color: white;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.ant-form-item{
    margin-bottom: 5px !important;
}