.calendar-container{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.calendar-container > div:first-of-type{
    width: 30%;
}
.calendar-container > div:first-of-type > ul{
    max-height: 500px;
    overflow-y: auto;
    padding-left: 0;
}
.calendar-container > div:first-of-type > ul > li{
    list-style-type: none;
    width: 90%;
    margin: 10px 0;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}
.calendar-container > div:last-of-type{
    width: 70%;
}
.ant-picker-calendar-header{
    padding: 15px 10px;
}
.ant-picker-calendar-date{
    padding: 0 !important;
}
.ant-picker-calendar-date ul {
    padding: 0;
}

.top-calendar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.filter-appointment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-appointment > div {
    display: flex;
    width: 40%;
    align-items: center;
    gap: 10px;
}
.filter-appointment .ant-picker{
    width: 60%;
    margin-left: 50px;
}
.filter-appointment button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
}
.filter-appointment > div > button:nth-of-type(2){
    text-decoration: none;
    border: 1px solid var(--primary);
    border-radius: 5px;
}
.filter-appointment > div > .active{
    background-color: var(--primary);
    color: white;
    text-decoration: none;
}
.ant-picker-cell-in-view{
    padding: 0 !important;
}