.calendar-container{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.calendar-container > div:first-of-type{
    width: 30%;
}
.calendar-container > div:first-of-type > ul{
    max-height: 500px;
    overflow-y: auto;
    padding-left: 0;
}
.calendar-container > div:first-of-type > ul > li{
    list-style-type: none;
    width: 90%;
    margin: 10px 0;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}
.calendar-container > div:last-of-type{
    width: 70%;
}
.ant-picker-calendar-header{
    padding: 15px 10px;
}
.ant-picker-calendar-date{
    padding: 0;
}