/*TEST*/
.user-select-none {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }


  /*ISTRUZIONI E DATI*/
.faq {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 60%;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px;
    height: 4rem;
  }
  
  .faq:hover {
    background-color: #f0f0f0;
  }
  
  .faq.expanded {
    background-color: #f0f0f0;
    transition: 0.3s all;
    height: 18rem;
  }
  
  .faq-question {
    margin-top: 0;
  }
  
  .faq-answer {
    display: none;
  }
  
  .faq.expanded .faq-answer {
    display: block;
  }